root = true

[**.css]
indent_style = space
indent_size = 2
insert_final_newline = true

[**.js]
indent_style = space
indent_size = 4
insert_final_newline = true

[**.html]
indent_style = space
indent_size = 4

[**.min.*]
indent_style = ignore
trim_trailing_whitespace = false
insert_final_newline = ignore
